@media (max-width: 1025px){
    /* header */
    header{
        padding: 0px 92px;
    }
    /* section1 */
    .section1{
        padding: 171px 92px;
    }
    .third{
        display: none;
    }
    footer{
        padding: 31px 425px;
    }
}