@media (max-width: 376px){
    /* header */
    header{
        padding: 0 14px;
    }
    .header_nav{
        display: none;
    }
    .burger_menu{
        display: block;
    }
    .section1{
        height: 431px;
        padding: 119px 14px;
    }
    .section1_title{
        font-size: 32px;
    }
    .section1_text{
        font-size: 14px;
        line-height: 22px;
    }
    .third{
        display: none;
    }
    .section2_container{
        flex-direction: column;
        row-gap: 24px;
        padding: 48px 14px;
    }
    footer{
        padding: 31px 100px;
    }
}