@media (max-width: 835px){
    /* header */
    header{
        padding: 0 67px;
    }
    .section1{
        height: 438px;
        padding: 115px 67px;
    }
    .third{
        display: none;
    }
    .section2_container{
        padding: 80px 67px;
    }
    footer{
        padding: 36px 330px;
    }

}